@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttf");
}
body {
  font-family: "HelveticaNeue";
  background: #E5E5E5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0px auto;
}

.block1 {
  background: url(img/bg.png);
  max-width: 1440px;
  width: 100%;
  height: 800px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 0 100px 0 130px;
}

img.logo {
  width: 256px;
  height: 57px;
  margin-right: auto;
  margin-left: 30px;
}

a.menu {
  font-size: 16px;
  margin: 0 15px;
  padding: 0 15px;
  color: #FFFFFF;
  line-height: 30px;
  transition: 1s;
}
a.menu:hover {
  color: tomato;
}

.block1-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

.block1-1-text {
  width: 700px;
  height: 625;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 90px;
}
.block1-1-text h1 {
  font-size: 60px;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.block1-1-text p {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.9);
}
.block1-1-text button {
  background: #FFFFFF;
  margin-top: 40px;
  border-radius: 8px;
  width: 160px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.block1-1-text button:hover {
  background-color: tomato;
}
.block1-1-text button p {
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
  color: #1E3C72;
  line-height: 10px;
}

button.button2 {
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background: #2A5298;
  width: 160px;
  height: 50px;
  cursor: pointer;
  transition: 1s;
  margin-left: 10px;
}
button.button2:hover {
  background-color: tomato;
  border-color: transparent;
}
button.button2 p {
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  line-height: 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card1 {
  width: 300px;
  height: 550px;
  background: #FFFFFF;
  box-shadow: 3px 3px 38px 9px #192E55;
  border-radius: 8px;
}

.card2 {
  width: 185px;
  height: 410px;
  background: #FFFFFF;
  box-shadow: 3px 3px 38px 9px #192E55;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-left: 20px;
}

img.card1 {
  width: 270px;
  height: 450px;
  margin: 15px auto;
  display: block;
  box-shadow: none;
}

img.card2 {
  width: 170px;
  height: 310px;
  margin: 15px 0 15px 15px;
  display: block;
  box-shadow: none;
}

p.collection {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #747474;
  margin-left: 15px;
}

p.name {
  font-size: 18px;
  line-height: 80%;
  letter-spacing: 0.03em;
  color: #202020;
  margin-left: 15px;
}

.slider-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 370px;
  margin-top: 20px;
}
.slider-items p {
  font-size: 14px;
  line-height: 124%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.line0 {
  width: 125px;
  height: 0px;
  border: 1px solid #FFFFFF;
}

.kolo {
  border-radius: 50%;
  background-color: #fff;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
}

.kolo1 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-kolo {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.block2 {
  width: 920px;
  height: 400px;
  background: #FFFFFF;
  position: relative;
  box-shadow: 5px 6px 43px rgba(30, 60, 114, 0.3);
  border-radius: 8px;
  left: 0;
  right: 0;
  margin: 70px auto;
}

.block2-1 {
  width: 95%;
  padding: 30px 0 0 250px;
  position: relative;
}
.block2-1 h2 {
  font-weight: bold;
  font-size: 34px;
  color: #1E3C72;
}
.block2-1 p {
  font-size: 18px;
  line-height: 130%;
  color: #1E3C72;
}

p.t2 {
  font-size: 14px;
  line-height: 165%;
  color: #2A5298;
}

img.circle {
  position: absolute;
  display: block;
  right: 15px;
  top: 10px;
  width: 60px;
  height: 75px;
}

img.circle1 {
  position: absolute;
  right: 200px;
  width: 40px;
  height: 38px;
}

img.orcs {
  position: absolute;
  margin-top: -100px;
  z-index: 2;
}

.block3 {
  background: url(img/bg1.png);
  max-width: 1440px;
  width: 100%;
  height: 420px;
}
.block3 h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 167%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 40px 0 30px 0;
}
.block3 img {
  width: 600px;
  height: 55px;
  margin: 0 auto;
  display: block;
}

.line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.line p {
  font-size: 20px;
  line-height: 167%;
  color: #FFFFFF;
}

.line1 {
  width: 475px;
  height: 0px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.oval {
  width: 445px;
  height: 55px;
  left: 34.44%;
  right: 34.51%;
  top: 31.19%;
  bottom: 67.85%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  margin: 30px auto;
}
.oval h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 7px;
}

.block4 {
  background: #fff;
  height: 300px;
  margin-top: -30px;
}
.block4 h1 {
  font-size: 48px;
  line-height: 133%;
  color: #1E3C72;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.line2 {
  width: 100%;
  height: 0px;
  border: 0.5px solid #CCCCCC;
  transform: rotate(0.32deg);
  margin: 0 auto;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.fon {
  margin: 0 5px;
}

img.v {
  margin: 0 50px;
}

img.fon {
  width: 90px;
}

img.b {
  width: 30px;
  position: absolute;
  margin: 70px 0px 0 -30px;
}

img.v {
  cursor: pointer;
}

.block5 {
  background: url(img/bg2.png);
  width: 100%;
  max-width: 1440px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block5 img {
  width: 450px;
  height: 450px;
}

.block5-1 {
  width: 380px;
  height: 300px;
}
.block5-1 h3 {
  font-weight: bold;
  font-size: 24px;
  color: #1E3C72;
  margin: 0 0;
}
.block5-1 h6 {
  font-size: 18px;
  margin: 15px 0;
  color: #1E3C72;
}
.block5-1 p {
  font-size: 14px;
  line-height: 160%;
  color: #375D9F;
  width: 100%;
}

.b-l {
  margin-top: 30px;
}
.b-l img {
  width: 70px;
  height: 30px;
  margin: 0 5px;
}

.fon1 {
  margin: 0 18px;
}

img.cost {
  width: 45px;
  height: 20px;
  margin: 0 0 0 -70px;
}

.block5-5 {
  background: url(img/bg3.png);
}

.block6 {
  background: #fff;
  width: 100%;
  height: 390px;
}

img.man2 {
  width: 600px;
  height: 550px;
}

.block7 {
  background: url(img/bg5.png);
  width: 100%;
  height: auto;
  margin-top: -30px;
}
.block7 h2 {
  font-size: 36px;
  line-height: 133%;
  color: #FFFFFF;
  padding: 60px 0 0 150px;
}

.polygon {
  display: flex;
  justify-content: center;
  margin-bottom: -50px;
}

.polygon1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 100px 0 0;
}
.polygon1 img {
  width: 20%;
  margin-right: 30px;
}
.polygon1 p {
  color: #fff;
  position: absolute;
}

.block8 {
  background-color: #fff;
  width: 100%;
}
.block8 h2 {
  font-size: 36px;
  line-height: 133%;
  color: #1E3C72;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.block8 p {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #375D9F;
  width: 550px;
  margin: 0 auto;
}

.soc-s {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.soc {
  width: 260px;
  height: 57px;
  background: linear-gradient(90deg, #3B529E 0%, #CE51CE 100%);
  border-radius: 100px;
  border: none;
  display: flex;
  margin: 50px 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.8s;
}
button.soc:hover {
  background: linear-gradient(90deg, #0e2588 0%, #960ca0 100%);
}
button.soc p {
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

img.s {
  margin-left: 20px;
}

.block9 {
  background: url(img/bg6.png);
  width: 100%;
  height: 350px;
  margin-top: -30px;
}
.block9 h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.block9 p {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  width: 500px;
  margin: 0 auto;
}

.form {
  width: 540px;
  height: 62px;
  background: #FFFFFF;
  box-shadow: 3px 3px 30px -2px rgba(80, 66, 92, 0.6);
  border-radius: 100px;
  margin: 50px auto;
}

.form1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form1 button {
  width: 205px;
  height: 55px;
  background: linear-gradient(90deg, #4152A1 0%, #C251CB 100%);
  border-radius: 100px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  cursor: pointer;
  transition-duration: 0.8s;
}
.form1 button:hover {
  background: linear-gradient(90deg, #0e2588 0%, #960ca0 100%);
}
.form1 button p {
  line-height: 167%;
  color: #202020;
}

.inp {
  width: 540px;
  height: 62px;
  background: #FFFFFF;
  border-radius: 100px;
  border: none;
  outline: none;
  margin-left: 20px;
}

@media (max-width: 1100px) {
  .block1 {
    height: 100%;
  }

  .block1-1 {
    display: block;
  }

  .card {
    justify-content: center;
  }

  .slider-items {
    margin: 20px auto;
  }

  .slider {
    padding: 70px 0;
  }

  .block1-1-text {
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
    text-align: center;
  }
  .block1-1-text button {
    margin: 10px 0 20px 0;
  }

  .card2 {
    border-radius: 8px;
  }

  img.card2 {
    margin: 10px auto;
  }

  .block2 {
    width: 80%;
  }

  .block2-1 {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    padding: 0;
  }
  .block2-1 p {
    line-height: 200%;
  }

  .soc-s {
    flex-wrap: wrap;
    width: 72%;
    margin: 0 auto;
  }

  button.soc {
    padding: 30px 0px;
  }

  .block8 p {
    max-width: 600px;
    width: 90%;
  }
}
@media (max-width: 900px) {
  header {
    padding: 0 20px 0 52px;
  }

  a.menu {
    margin: 0 5px;
    padding: 0 5px;
  }

  .block2-1 p {
    line-height: 150%;
  }

  .block4 h1 {
    font-size: 30px;
  }

  .fon-none {
    display: none;
  }

  img.bl5 {
    width: 250px;
    height: 250px;
  }

  img.man2 {
    width: 250px;
    height: 200px;
  }
}
@media (max-width: 600px) {
  img.logo {
    display: none;
  }

  .block1-1-text h1 {
    font-size: 30px;
    line-height: 110%;
    text-align: center;
  }
  .block1-1-text p {
    font-size: 16px;
  }

  .card1 {
    width: 150px;
    height: 300px;
  }

  .card2 {
    width: 92.5px;
    height: 230px;
    border-radius: 8px;
  }

  img.card1 {
    width: 135px;
    height: 225px;
    margin: 8px auto;
  }

  img.card2 {
    width: 85px;
    height: 155px;
    margin: 5px auto;
  }

  p.collection, p.name {
    font-size: 14px;
    text-align: center;
    margin: 10px auto;
  }

  .block2-1 {
    width: 100%;
  }
  .block2-1 h2 {
    font-size: 22px;
  }
  .block2-1 p {
    font-size: 14px;
  }

  img.circle, img.circle1 {
    display: none;
  }

  .block3 h1 {
    font-size: 24px;
  }
  .block3 img {
    width: 300px;
    height: 25px;
  }
  .block3 .oval {
    width: 300px;
    height: 45px;
  }
  .block3 .oval h3 {
    font-size: 18px;
  }

  .fon-none1 {
    display: none;
  }

  img.v {
    margin: 0 20px;
  }

  .block5-1 {
    width: 600px;
    text-align: center;
  }
  .block5-1 h3 {
    font-size: 18px;
  }
  .block5-1 h6 {
    font-size: 16px;
  }
  .block5-1 p {
    font-size: 12px;
    line-height: 140%;
    width: 90%;
    padding: 0 5px;
  }

  .b-l img {
    width: 40px;
    height: 17px;
  }

  .block9 {
    height: 250px;
  }
  .block9 h4 {
    font-size: 18px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .block9 p {
    font-size: 14px;
    max-width: 500px;
    width: 90%;
  }

  .form {
    width: 300px;
    margin: 30px auto;
  }
}
@media (max-width: 600px) and (max-width: 470px) {
  .b-l img {
    display: none;
  }

  img.bl5 {
    width: 150px;
    height: 150px;
  }

  img.man2 {
    width: 150px;
    height: 100px;
  }

  .kolo1 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
